/* Tic Tac Toe */
body{
    
     font-family:"Arial", sans-serif;
     
 }
 
 #ttt{
     text-align: center;
     color: #fff;
 }
 
 .clearfix{
     clear: both;
 }
 #container{
     width: 350px;
     overflow: auto;
     margin: 40px auto;
     background: #666;
     padding-bottom:40px;
     border-radius: 10px;
 }
 
 #board li{
     float: left;
     margin: 10px;
     height: 70px;
     width: 70px;
     font-size:55px;
     background: #333;
     list-style: none;
     text-align: center;
     border-radius: 5px;
 }
 
 #board li:hover, #reset:hover{
     cursor: pointer;
     background: #000;
 }
 
 #reset{
     border:0;
     background: #444;
     color: #fff;
     width : 70%;
     padding: 15px;
     border-radius: 5px;
 }
 
 .o{
     color: green !important;
 }
 
 .x{
     color:red !important;
 }
 
 #button{
     display: block;
     text-align: center;
     padding-top: 20px;
     margin-top: 25px;
 }
 
 /* Tic Tac Toe End */
 a.button-ghost{
     margin: 6.0rem 0 0;
     padding: 1.4rem 3.2rem;
     font-size: 1.4rem;
     border: 2px solid green;
 }
 
 .button{
     height: auto;
     line-height: normal;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     transition: all .3s ease-in-out;
     letter-spacing: 0;
     border-radius: 50px;
     background: #000;
 }

 /* greywrap */

 #greywrap {
	background: #f5f5f5;
	margin-top: 0px;
	padding-top: 40px;
	border-bottom: 1px solid #ddd;
	
}

#greywrap .callout {
	margin-bottom: 20px;
}

#greywrap p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
    padding-bottom: 15px;
    
}

#greywrap .icon {
	font-size: 60px;
	line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#navbar-header{
   list-style-type: none;
   margin: 0;
   padding:0;
   overflow: hidden;
   background: #333;
}
#navbar{
   text-align: center;
}
#navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
#navbar a:hover:not(active){
    background-color:#087429;
}
.active{
    background-color: #2BA12F;
}

.row{
    text-align: center;
}

#title{
    text-align: center;
}

/* ]youtube*/

#youtube{
    text-align: center;
}

